.Hub-documentation-preview {
    margin-bottom: 10px;
    &__title {
        margin-bottom: 2px;
        font-weight: bold;
        font-size: 22px;
    }
    p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 18px;
    }
    &__body {
        background-color: #fff;
        padding: 20px;
        border: 1px solid rgba(166, 166, 166, 0.6);
    }
}