.Hub-documentation-section {
    margin-top: 30px;
    h1 {
        font-size: 3rem;
        margin-bottom: 0.9rem;
    }
    &__Content {
        font-size: 20px;
        color: rgb(90, 90, 90);
        margin-bottom: 20px;
    }
}