@import '../style/components/_variables.scss';
.hub- {
    &button {
        color: $primary-font-color;
        border: none;
        border-radius: 0;
        padding: 7px 10px;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.3s;
        box-shadow: 0 0 0 transparent;
        outline: none;
        font-family: 'Noto Sans Thaana', sans-serif;
        &:disabled {
            background-color: $disabled-bg-color;
            border: 1px solid $disabled-border-color;
            cursor: default;
            &:hover {
                background-color: $disabled-bg-color;
                border: 1px solid $disabled-border-color;
            }
            & span {
                color: $disabled-font-color;
            }
        }
        &-large {
            width: 188px;
        }
        &-primary {
            background: $primary-bg-color;
            border: 1px solid $primary-border-color;
            &:hover {
                background: $primary-bg-color-hover;
                border: 1px solid $primary-border-color-hover;
            }
            & span {
                color: $primary-font-color;
            }
        }
        &-secondary {
            background: $secondary-bg-color;
            border: 1px solid $secondary-border-color;
            &:hover {
                background: $secondary-bg-color-hover;
                border-color: $secondary-border-color-hover;
            }
            & span {
                color: $secondary-font-color;
            }
        }
        & span {
            margin-right: 5px;
            font-size: 12px;
            .localedir-rtl & {
                margin: {
                    left: 5px;
                    right: auto;
                }
            }
        }
        &__LoadingIcon {
            display: none;
        }
        &.loading &__LoadingIcon {
            display: inline-block;
        }
    }
}