@mixin col {
    @for $i from 1 through 12 {
        &#{$i} {
            width: $i*8.33333333%;
        }
    }
    &fifth {
        width: 20%;
    }
}

@mixin col-offset {
    @for $i from 1 through 12 {
        &#{$i} {
            margin-left: $i*8.33333333%;
        }
    }
}

@mixin content-display {
    content: " ";
    display: table;
}