.hub- {
    &panel {
        padding: 0.75rem;
        border-color: #ddd;
        font-size: 0.875rem;
        padding: 1rem;
        background-color: #f8f8f8;
        border-width: 1px;
        border-style: solid;
    }
}