//background
$primary-bg-color: #2199ca;
$primary-bg-color-hover: #1278a2;
$secondary-bg-color: #f6f6f6;
$secondary-bg-color-hover: #f0f0f0;
//font
$primary-font-color: #fff;
$primary-font-color-hover: #fff;
$secondary-font-color: #5a5a5a;
$secondary-font-color-hover: $secondary-font-color;
$secondary-icon-font-color: #a1a1a1;
//borders
$primary-border-color: #2a9ac8;
$primary-border-color-hover: #1278a2;
$secondary-border-color: #b2b2b2;
$secondary-border-color-hover: #929292;
//disabled
$disabled-bg-color: #ececec;
$disabled-font-color: #949494;
$disabled-border-color: #d6d6d6;
//hub specific
$hub-card-bg-color: #fff;
$hub-title-font-color: #333;
$hub-body-bg-color: #EAEAEA;
$hub-header-bg-color: #F2F2F2;
$hub-global-boxshadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);

// breakpoints
$breakpoint-small: "screen and (min-width: 20em)";
$breakpoint-medium: "screen and (min-width: 40em)";
$breakpoint-large: "screen and (min-width: 60em)";
$breakpoint-xlarge: "screen and (min-width: 75em)";
$breakpoint-medium-down: "(max-width: 59.9999em)";
$breakpoint-large-down: "(max-width: 74.9999em)";
$breakpoint-medium-up: "(min-width: 40em)";
$breakpoint-large-up: "(min-width: 60em)";
$breakpoint-xlarge-up: "(min-width: 75em)";
$breakpoint-small-only: "(max-width: 39.9999em)";
$breakpoint-medium-only: "(min-width: 40em) and (max-width: 59.9999em)";
$breakpoint-large-only: "(min-width: 60em) and (max-width: 74.9999em)";
$breakpoint-xlarge-only: "(min-width: 75em)";